<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="Relanota"
    Publisher="CN=A8743CD6-3217-450B-B826-CB1DBDBF1E46"
    Version="1.1.7.0" />

  <mp:PhoneIdentity PhoneProductId="3097d1e0-e3dd-4a72-a9a4-62f6a7bb4788" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Relanota</DisplayName>
    <PublisherDisplayName>Zaph</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Relanota">
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="note">
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:DisplayName>Relanota URI Scheme</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
      <uap:VisualElements
        DisplayName="Relanota"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Relanota"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>