/*
    http://www.oschina.net/question/124879_76399
*/

html { /*font-size: 1rem;*/
    overflow-y: scroll;
}

html {
    font-size: 12px;
}

pre {
    font-size: 1rem;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }

    pre {
        font-size: 1.6rem;
    }
}

body {
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    /*line-height:2rem;*/
    /*padding:1rem;*/
    margin: auto;
    max-width: 50rem;
    background: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    color: #000000;
    font-size: 3.2rem;
}

h2 {
    border-bottom: 2px solid #CCCCCC;
    color: #000000;
    font-size: 2.4rem;
}

h3 {
    border-bottom: 2px solid #CCCCCC;
    font-size: 2rem;
}

h4 {
    font-size: 1.414rem;
}

h5 {
    font-size: 1.121rem;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: .88rem;
}

hr {
    height: 0.2rem;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

p {
    margin: 1rem 0;
}

pre {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    overflow: auto;
    /*padding: 5px;*/
}

    pre code {
        background-color: #F8F8F8;
        border: none;
        padding: 0;
    }

code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 0 0.2rem;
    line-height: 1;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}


a {
    color: #0645ad;
    text-decoration: none;
}

    a:visited {
        color: #0b0080;
    }

    a:hover {
        color: #06e;
    }

    a:active {
        color: #faa700;
    }

    a:focus {
        outline: thin dotted;
    }

    a:hover, a:active {
        outline: 0;
    }

::-moz-selection {
    background: rgba(255,255,0,0.3);
    color: #000
}

::selection {
    background: rgba(255,255,0,0.3);
    color: #000
}

a::-moz-selection {
    background: rgba(255,255,0,0.3);
    color: #0645ad
}

a::selection {
    background: rgba(255,255,0,0.3);
    color: #0645ad
}

blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3rem;
    border-left: 0.5rem #EEE solid;
}

ul, ol {
    margin: 1rem 0;
    padding: 0 0 0 2rem;
}

li p:last-child {
    margin: 0
}

dd {
    margin: 0 0 0 2rem;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}
